@import url("./styles/header.css");
@import url("./styles/apresentacao.css");
@import url("./styles/carrossel.css");
@import url("./styles/whatsapp.css");
@import url("./styles/localizacao.css");
@import url("footer.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#EBECEE;
    --amarelo: #00FFFF;
    --azul-medio: #232D3F;
    --azul-claro:  #ADD8E6;
    --azul-escuro:#0F0F0F ;

    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #e7e7e7;
    --branco: #fff;
    --cinza-escuro: #333;

    --fonte-principal: "Roboto", sans-serif;
    --fonte-secundario: "Josefin Sans";
    
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
