.apresentacao{
    margin-top: 5px;
}
.titulo__apresentacao{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--azul-escuro);
    color: var(--amarelo);
    padding: 10px;
    width: 90%;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.paragrafos__apresentacao{
    padding: 10px;
    background-color: var(--azul-medio);
    color: var(--branco);
    font-weight: 400;
}